# Copyright (c) 2026 Smidr
# SPDX-License-Identifier: MIT

if SHIELD_SMIDR_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Smidr Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SMIDR_CORNE_LEFT || SHIELD_SMIDR_CORNE_RIGHT

config ZMK_SPLIT
    default y

endif
