/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define _____ &trans
#define XXXXX &none

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12     &kp DELETE
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL   &kp BSPC    XXXXX
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT    &kp BSLH
                &lt 1 CAPS  &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT     &kp RET
                &kp LSHFT   XXXXX       &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH   &mt RSHFT UP_ARROW &mo 1
                &kp LCTRL   &kp LGUI    &kp LALT    &kp SPACE   &kp SPACE   &kp SPACE   &mt RALT LEFT_ARROW &mt RGUI DOWN_ARROW &mt RCTRL RIGHT_ARROW
            >;
        };

        function_layer {
            bindings = <
                &bootloader  &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP _____       &kp C_PP    _____       &kp C_BRI_DN &kp C_BRI_UP &kp PSCRN   &kp SLCK    &kp PAUSE_BREAK &kp INSERT _____
                _____        _____       _____        _____        _____       _____       _____       _____        _____        _____      _____      _____        _____      _____      _____
                _____        _____       _____        _____        _____       &kp LC(T)   _____       &kp LC(U)    &kp LC(I)    &kp LC(O)  &kp LC(P)  _____        _____      _____
                _____        &kp LC(A)   &kp LC(S)    _____        _____       _____       _____       _____        _____        _____      _____      _____        _____
                _____        _____       &kp LC(Z)    &kp LC(X)    &kp LC(C)   &kp LC(V)   &kp LC(N)   _____        _____        _____      _____      _____        &kp PAGE_UP _____
                _____        _____       _____        _____        _____       _____       &kp HOME     &kp PAGE_DOWN &kp END
            >;
        };
    };
};
