# Copyright (c) 2026 Smiðr
# SPDX-License-Identifier: MIT

if SHIELD_SMI_R_DEMO_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Smiðr Demo Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SMI_R_DEMO_CORNE_LEFT || SHIELD_SMI_R_DEMO_CORNE_RIGHT

config ZMK_SPLIT
    default y

endif
